<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swp.bibclient"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:allowBackup="true">
        <activity android:name="swp.bibclient.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="swp.bibclient.ShowBookActivity"
            android:label="@string/title_activity_show_book" >
        </activity>
        <activity
            android:name="swp.bibclient.BooksActivity"
            android:label="@string/title_activity_books" >
        </activity>
        <activity 
            android:name="swp.bibclient.ShowImpressumActivity"
            android:label="@string/title_activity_impressum" >
        </activity>
        <activity 
            android:name="swp.bibclient.MainActivityGuest"
            android:label="@string/title_activity_mainguest"></activity>
    </application>

</manifest>